RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteBase /

RewriteRule ^home$ /hworldsheet/site/view/home.php [L]
RewriteRule ^conteudo$ /hworldsheet/site/view/conteudo.php [L]
RewriteRule ^conteudo/git$ /hworldsheet/site/view/content/git.php [L]
RewriteRule ^conteudo/javascript$ /hworldsheet/site/view/content/javascript.php [L]
RewriteRule ^conteudo/orientacao-a-objetos$ /hworldsheet/site/view/content/oo.php [L]
RewriteRule ^conteudo/sql$ /hworldsheet/site/view/content/sql.php [L]
