RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteBase /

# See rules for development environment in README.md

RewriteRule ^home$ /site/view/home.php [L]
RewriteRule ^content$ /site/view/content.php [L]
RewriteRule ^content/git$ /site/view/content/git.php [L]
RewriteRule ^content/javascript$ /site/view/content/javascript.php [L]
RewriteRule ^content/object-orientation$ /site/view/content/object-orientation.php [L]
RewriteRule ^content/sql$ /site/view/content/sql.php [L]
